@tailwind base;
@tailwind components;
@tailwind utilities;




/* ul{
    position: relative;
    display: flex;
    gap: 50px;
}
ul li{
    position: relative;
    list-style: none;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;

}
ul li a{
    position: relative;
    text-decoration: none;
    z-index: 10;
    font-size: 2rem;
    transition: 0.5s;
}

ul li::before{
    content: '';
    position: absolute;
    inset: 10px;
    box-shadow:0 0 0 10px red,
    0 0 0 20px #222,
    0 0 0 22px red;
    transition: 0.5s;
}
ul li:hover::before{
    inset: -20px;
}
ul li::after{
    content: '';
    position: absolute;
    inset: 0;
    background: #222;
    transform: rotate(80deg);
}
ul li:hover{
    z-index: 10000;
    transform: scale(0.75);
}
ul li:hover a{
    font-size: 3rem;
    filter:  drop-shadow(0 0 20px red) drop-shadow(0 0 40px red) drop-shadow(0 0 60px red);
} */